@tailwind base;
@tailwind components;
@tailwind utilities;

/* .client .chat_container {
    transition: height .5s ease-in, width .5s ease-in, opacity .7s;

} */
.tabcontent {
    grid-template-columns: 40% 60%;
}

.bubble {
    display: grid;
    grid-template-columns: 13% 86%;
}

#chat_btn .tooltiptext {
    /*  visibility: hidden; */
    /* width: 120px; */
    background-color: #c9ebf9;
    color: black;
    text-align: center;
    border-radius: 6px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: -220%;
    right: 0;
    margin-left: -60px;
    padding-inline: 20px;
    /* transition-delay: 4s; */
    height: 100px;
    width: 260px;
    overflow: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    line-height: 22px;
}

#chat_btn .tooltiptext::before {
    content: "";
    background-color: #c9ebf9;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: -6px;
    right: 24px;
    transform: rotate(135deg);
}

/* #chat_btn:hover .tooltiptext {
    visibility: visible;
} */

#chat_btn .tooltiptext.available {
    bottom: 70px;
    /* padding: 4px 5px 8px 5px; */
    /*   height: 65px;
    width: 110px;
    overflow: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.client .messages_display {
    height: 300px;
}

.messages_display .from_operator::before {
    content: "";
    /* background-image: url(../assets/icons/operator.svg); */
    background-position: center;
    background-color: #FDBA74;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
}

.messages_display .from_client::before {
    content: "";
    /* background-image: url(../assets/icons/client.svg); */
    background-color: #FDBA74;
    background-position: center;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;

}

.client .messages_display .from_client::before {
    content: "";
    /* background-image: url(../assets/icons/client.svg); */
    background-color: #FDBA74;
    background-position: center;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 0;

}

/* .messages_display .from_client p {
    background: rgba(173, 216, 230, 0.39);
    padding: 0;
    margin-left: 26px;
    margin-top: 1px;
    padding: 4px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
}

.messages_display .from_operator p {
    background: rgba(32, 178, 171, 0.393);
    padding: 0;
    margin-right: 26px;
    margin-top: 1px;
    padding: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
}
 */
.client .chat_row {}

.tablinks.active {

    border-right: 4px solid #7DADF9;
}